*{
    box-sizing: border-box;
}


header { grid-area: header; }


header{
    background:#f5f2d0;
    border-radius: 10px;;
    border: 1px solid white;
    text-align:center;
    width:100%;
    height: 200px;;
    position: relative;
    margin: 1px;
}

/* navigation list */

nav { grid-area: nav; }

nav{
    background:GREY;
    border-radius: 10px;
    border: solid white;
    text-align:center;
    width:100%;   
}

nav ol{
    border:1px solid white;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav li{
    display:inline;
    border: 0px solid white;
    border-radius: 3px;;
    padding:1px;
}

nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    text-decoration: none;
    font-variant:normal;
    font-weight: normal;
    font-size: 10pt;
    color:hsl(0,0%,255%);
    display:inline-block;
    padding:1px;
} 

.logo
{
    position: relative;
    right: 600px;
    bottom: 380px;
}

#social-links
{
    position: relative;
    margin-left: 1200px;
    bottom: 180px;
}

.fb
{
    margin-left: 10px;

    bottom: 180px;
}

#main-heading h1
{
    font-family:cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 60pt;
    color: red;
}

/* 
footer */
footer.footer {
    position: relative;
    top: 100px;
    right: 8px;;
    height: 70pt;
    width: 1440px;
    background-color: #333333;
}

p.copyright {
    color: #fff;
    line-height: 20pt;
    font-size: 1em;
}

.address
{
    color: white;
}

#major-attractions
{
    font-size: 35pt;
    text-align: center;
}

.rollercoaster
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
   margin-left: 150px;
}

.rollercoaster, .bumper-cars, .vertigo, .typhoon, .super-shot, .frenzy
{
    padding: 1rem;
    width: 420px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    
    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}
  
  .rollercoaster:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
  .rollercoaster > :first-child
{
    margin-top: 0;
}
  
  .rollercoaster > :last-child 
{
    margin-bottom: 0;
}

.bumper-cars:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
  .bumper-cars > :first-child
{
    margin-top: 0;
}
  
  .bumper-cars > :last-child 
{
    margin-bottom: 0;
}

.bumper-cars, .vertigo, .typhoon, .super-shot, .frenzy
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-left: 150px;

}

.vertigo:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}

.vertigo > :first-child
{
    margin-top: 0;
}
  
  .vertigo > :last-child 
{
    margin-bottom: 0;
}
  
.vertigo
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.typhoon:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
  .typhoon > :first-child
{
    margin-top: 0;
}
  
  .typhoon > :last-child 
{
    margin-bottom: 0;
}

.super-shot:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
  .super-shot > :first-child
{
    margin-top: 0;
}
  
  .super-shot > :last-child 
{
    margin-bottom: 0;
}


.frenzy:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
.frenzy > :first-child
{
    margin-top: 0;
}
  
  .frenzy > :last-child 
{
    margin-bottom: 0;
}

.typhoon, .super-shot, .frenzy
{
    position: relative;
    bottom: 670px;
    margin-left: 800px;
}

.other-experiences h2
{
    text-align: center;
    position: relative;
    bottom: 600px;
    font-size: 40pt;
}

.other-experiences-info p
{
    text-align: center;
    position: relative;
    bottom: 550px;
    font-size: 20pt;
}

.banana-jet, .ferris-wheel, .water-rides
{
    padding: 1rem;
    width: 420px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    
    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 400px;
    margin-left: 150px;

}
  
.banana-jet:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
.banana-jet
{
    margin-top: 0;
}
  
.banana-jet
{
    margin-bottom: 0;
}

.ferris-wheel:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}

.ferris-wheel
{
    margin-top: 0;
}
  
.ferris-wheel
{
    margin-bottom: 0;
}

.ferris-wheel
{
    margin-top: 10px;
}

.water-rides:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
.water-rides
{
    margin-top: 0;
}
  
.water-rides
{
    margin-bottom: 0;
}

.water-rides
{
    margin-top: 10px;
}


.train-rides, .horror-house, .mirror-maze
{
    padding: 1rem;
    width: 420px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    
    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin-left: 700px;
    bottom: 1010px;

}

.train-rides:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
.train-rides
{
    margin-top: 0;
}
  
.train-rides
{
    margin-bottom: 0;
}
  
.horror-house:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
.horror-house
{
    margin-top: 0;
}
  
.horror-house
{
    margin-bottom: 0;
}

.horror-house
{
    margin-top: 10px;
}
  
.mirror-maze:hover
{
    padding-left: 0.6rem;
    border-left: 0.6em solid #00ff99;
}
  
.mirror-maze
{
    margin-top: 0;
}
  
.mirror-maze
{
    margin-bottom: 0;
}

.mirror-maze
{
    margin-top: 10px;
}

.ride-text
{
    position: relative;
    font-size: 30pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 600px;
}

.ride-gif
{
    position: relative;
    bottom: 500px;
}