/* 
footer */
footer.footer {
    font-family: 'Arial';
    position: relative;
    top: 100px;
    right: 8px;;
    height: 70pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: #333333;
}

p.copyright {
    color: #fff;
    line-height: 20pt;
    font-size: 1em;
}

.address
{
    color: white;
}